@tailwind base;
@tailwind components;
@tailwind utilities;

$var:#94a8a7;

body {
  /* Just to show that you can mix SASS and Tailwind directives */
  background-color: $var;
}

/* Tailwind @apply directives will be processed by PostCSS after the SASS rendering takes place */

a { @apply text-blue-600 no-underline border-b-2 border-blue-200 }
a:hover { @apply text-blue-800 border-blue-600 }

.list li {
  @apply list-disc
}

h1,h2 { @apply font-black }
h3 { @apply font-bold }
