---
layout: layouts/base-2.njk
title: My RFC Tracker
description: An RFC Tracker with modern tooling including Tailwind CSS and PurgeCSS
---
<div class="max-w-xs sm:max-w-2xl lg:max-w-2xl xl:max-w-4xl bg-white mx-auto text-xl pt-8 my-16 md:rounded-lg shadow-2xl flex items-end">
    <section class="ml-16">
      <h1 class="text-6xl text-blue-900 mb-8">RFC Tracker</h1>
      <p class="leading-normal">
        This is an Eleventy based project with:
      </p>
      <ul class="list my-8 px-8">
        <li>Tailwind CSS</li>
        <li>Sass</li>
        <li>Webpack</li>
        <li>Babel</li>
        <li>PostCSS</li>
        <li>CSS Nano</li>
        <li>Lightserver</li>
        <li>Autoprefixer</li>
      </ul>
    </section> 
    <div class="ml-16">
      <h1 class="text-6xl text-blue-900 mb-8">Another Section</h1>
      <p class="leading-normal">Here are some words Here are some words:</p>
      <ul class="list my-8 px-8">
        <li>Test 1</li>
        <li>Test 2</li>
        <li>Test 3</li>
        <li>Test 4</li>
        <li>Test 5</li>
        <li>Test 6</li>
        <li>Test 7</li>
        <li>Test 9</li>
      </ul>
    </div>
</div>

<div class="max-w-xs sm:max-w-2xl lg:max-w-2xl xl:max-w-4xl bg-white mx-auto text-xl pt-8 my-16 md:rounded-lg shadow-2xl flex items-end">
    <section class="ml-16">
      <h1 class="text-6xl text-blue-900 mb-8">RFC Tracker</h1>
      <p class="leading-normal">
        This is an Eleventy based project with:
      </p>
      <ul class="list my-8 px-8">
        <li>Tailwind CSS</li>
        <li>Sass</li>
        <li>Webpack</li>
        <li>Babel</li>
        <li>PostCSS</li>
        <li>CSS Nano</li>
        <li>Lightserver</li>
        <li>Autoprefixer</li>
      </ul>
    </section> 
    <div class="ml-16">
      <h1 class="text-6xl text-blue-900 mb-8">Another Section</h1>
      <p class="leading-normal">Here are some words Here are some words:</p>
      <ul class="list my-8 px-8">
        <li>Test 1</li>
        <li>Test 2</li>
        <li>Test 3</li>
        <li>Test 4</li>
        <li>Test 5</li>
        <li>Test 6</li>
        <li>Test 7</li>
        <li>Test 9</li>
      </ul>
    </div>
</div>
